<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="content-980">
        <div class="con-agreement">
            <p>欢迎使用纳豆网提供的本地服务，为了保障用户的权益，详细认真阅读以下用户使用协议中所有内容。
                <span class="fk"></span><br>
                用户务必详细阅读了本《协议》的内容，并同意遵守本《协议》的规定。 另外提醒用户，本《协议》之规定有时可能会更改，并将由纳豆网随时更新并公布于纳豆平台上。本《协议》一旦在纳豆平台上公布即有效代替原来的用户协议，用户可随时登陆本网址查阅最新用户协议。如果用户不同意本《协议》修改的内容，用户可以主动取消使用网络服务。如果用户继续享用纳豆网提供的网络服务，则视为接受纳豆网对用户协议的修改。
            </p>
            <p class="title">一、服务条款</p>
            <p> 本《协议》系由用户与纳豆网就纳豆网所提供的网络服务（包括双方相关权利义务规范）所订立的协议。成为纳豆网用户之前，详细阅读本服务条款的所有内容，当您点选同意按钮并进入纳豆平台即视为同意并接受本《协议》的所有规范并愿受其约束。
                <span class="fk"></span><br>
                使用纳豆网提供的服务必须认真阅读并完全接受本服务条款。如果您不同意本服务条款和/或随时对其的修改，则不可使用服务。
            </p>
            <p class="title">二、用户义务</p>
            <p>1.使用纳豆网提供的服务,应当遵守国家的有关法律、法规和行政规章制度。
                <span class="fk"></span><br>
                2.除您与纳豆网另有约定外，您同意本服务仅供个人使用且非商业性质的使用，您不可对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、或利用本服务进行调查、广告、或用于其他商业目的，但纳豆网公司对特定服务另有适用指引或规则的除外。
                <span class="fk"></span><br>
                3.不得发送任何妨碍社会治安或非法、虚假、骚扰性、侮辱性、恐吓性、伤害性、破坏性、挑衅性、淫秽色情性等内容的信息。
                <span class="fk"></span><br>
                4.用户有义务妥善保管、使用在注册纳豆网服务时获得的账号及密码，并为此账号及密码登入系统后所开始的一连串行为或活动负责。
                <span class="fk"></span><br>
                5.若用户发现账号或密码遭他人非法使用或有异常使用的情形，应立即通知纳豆网，并提交该账号为本人所有的有关证明，以便申请该账号的暂停使用，黑客攻击、计算机病毒、政府管制等非纳豆网过错造成的用户损失，纳豆网不承担赔偿责任。纳豆网有义务协助查询。
                <span class="fk"></span><br>
                6.用户应保证其在注册时和提交订单时所提供的姓名、联系方式、联系地址等全部信息真实、完整、准确，并当上述信息发生变更时及时进行更新提供给纳豆网的信息。
                <span class="fk"></span><br>
                7.用户不得以任何技术手段或其他方式干扰纳豆网的正常运行或干扰其他用户对纳豆网服务的使用。
                <span class="fk"></span><br>
                8.用户不得以虚构事实等方式恶意诋毁纳豆网或商家的商誉。
                <span class="fk"></span><br>
                9.用户不得对商品/服务进行虚假评价或虚假投诉。
            </p>
            <p class="title">三、用户注册</p>
            <p>
                1.用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用纳豆网服务。
                <span class="fk"></span><br>
                2.用户进行用户注册并非出于违反法律法规或破坏美纳豆网络团购交易秩序的目的。
                <span class="fk"></span><br>
                3.用户同意根据纳豆网用户注册页面的要求提供有效电子邮箱、所在城市等信息，设置纳豆网账号及密码，用户应确保所提供全部信息的真实性、完整性和准确性。
                <span class="fk"></span><br>
                4.用户获得纳豆网账号及密码时视为用户注册成功，用户同意接收纳豆网发送的与纳豆网网站管理、运营相关的电子邮件和/或短消息。
            </p>
            <p class="title">四、特别声明</p>
            <p>用户未通过纳豆网与商家之间进行的交易不属于纳豆网交易，纳豆网对不属于纳豆网交易的交易事项不承担任何责任，用户不得因其与商家之间因此类交易发生的任何争议投诉纳豆网或要求纳豆网承担任何责任。不属于纳豆网交易的情况具体包括：用户未在纳豆网与商家成立订单；用户虽在纳豆网与商家成立订单，但未通过纳豆网而直接向商家支付价款
            <span class="fk"></span><br>
            不论在何种情况下，纳豆网对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务不承担责任。
            </p>
            <p class="title">五、服务变更中断和终止</p>
            <p>
                1.由于相关政府机构的要求。
                <span class="fk"></span><br>
                2.由于不可抗力因素致使纳豆网无法提供线上网络服务。
                <span class="fk"></span><br>
                3.对于纳豆网的网络设备进行必要的保养及施工，发生突发性的网络设备故障时。
                <span class="fk"></span><br>
                4.用户违反本服务条款的规定。
                <span class="fk"></span><br>
                5. 用户应了解并同意，纳豆网所提供的网络服务可能因公司本身、其它合作厂商或相关电信业者网络系统软硬件设备的故障、失灵、或因合作方及相关电信工作人员人为操作的疏失而全部或一部分中断、暂时无法使用、迟延，或因他人侵入纳豆网系统篡改或伪造变造资料等，造成服务的停止或中断者或用户档案缺失，用户不得要求纳豆网提供任何的补偿或赔偿。
            </p>
            <p class="title">六、服务条款的修改</p>
            <p>由于用户及市场状况的不断变化，纳豆网保留随时修改本《协议》的权利，修改本《协议》时，纳豆网会将修改公布于网站相关页面上，一经公布视为通知，纳豆网不另对用户进行个别通知。若用户不同意修改的内容，可停止使用纳豆网的网络服务。若用户继续使用纳豆网的网络服务，即视为用户业已接受纳豆网所修订的内容。</p>
        </div>
    </div>
</body>

</html>